/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 14;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default);
$indent-var                 : 0.5em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : "Trebuchet MS", Helvetica, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale */
$type-size-1                : 2.441em;  // ~39.056px
$type-size-2                : 1.953em;  // ~31.248px
$type-size-3                : 1.5em;
$type-size-4                : 1.35em;
$type-size-5                : 1.2em;
$type-size-6                : 1em;
$type-size-7                : 0.6875em; // ~11px
$type-size-8                : 0.625em;  // ~10px


/*
   Colors
   ========================================================================== */

/* Elegant Dark Green & Charcoal Color Palette */
$gray                       : #525252;  /* Neutral-600 */
$dark-gray                  : #262626;  /* Neutral-800 */
$darker-gray                : #171717;  /* Neutral-900 */
$light-gray                 : #737373;  /* Neutral-500 */
$lighter-gray               : #e5e5e5;  /* Neutral-200 */

$body-color                 : #fff;
$background-color           : #fff;
$code-background-color      : #fafaf9;  /* Stone-50 */
$code-background-color-dark : #1c1917;  /* Stone-900 */
$text-color                 : #292524;  /* Stone-800 */
$border-color               : #d6d3d1;  /* Stone-300 */

/* Primary palette - Dark green & charcoal */
$primary-color              : #1a3a34;  /* Deep forest green */
$success-color              : #14532d;  /* Green-900 */
$warning-color              : #78350f;  /* Amber-900 */
$danger-color               : #7f1d1d;  /* Red-900 */
$info-color                 : #134e4a;  /* Teal-900 - dark teal */

/* brands - unified dark green theme */
$behance-color              : #1a3a34;
$dribbble-color             : #1a3a34;
$facebook-color             : #1a3a34;
$flickr-color               : #1a3a34;
$foursquare-color           : #1a3a34;
$github-color               : #1a3a34;
$google-plus-color          : #1a3a34;
$instagram-color            : #1a3a34;
$lastfm-color               : #1a3a34;
$linkedin-color             : #1a3a34;
$pinterest-color            : #1a3a34;
$rss-color                  : #1a3a34;
$soundcloud-color           : #1a3a34;
$stackoverflow-color        : #1a3a34;
$tumblr-color               : #1a3a34;
$twitter-color              : #1a3a34;
$vimeo-color                : #1a3a34;
$vine-color                 : #1a3a34;
$youtube-color              : #1a3a34;
$xing-color                 : #1a3a34;


/* links - dark green tones */
$link-color                 : #14532d;  /* Green-900 */
$link-color-hover           : #166534;  /* Green-800 */
$link-color-visited         : #1e3a5f;  /* Slate blue */
$masthead-link-color        : #404040;  /* Neutral-700 */
$masthead-link-color-hover  : #1a3a34;  /* Deep forest green */

/* notices */
$notice-background-mix: 80% !default;
$code-notice-background-mix: 90% !default;

/* syntax highlighting (base16) */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;
$max-width: $x-large !default;
/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius: 6px !default;  /* Slightly more rounded */
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08) !default;  /* Softer, more elegant shadow */
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1.5rem !default;
$navicon-height: 0.25rem !default;
$global-transition: all 0.3s ease !default;  /* Smoother transitions */
$intro-transition: intro 0.3s both !default;